
/* Container and overall page structure */
.login-container {
  position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  .text_wrap{
    display: flex;
    justify-content: space-between;
  }
  .login-header {
    line-height: 5px;
    margin-bottom: 10px;
  }
   
  
  .login-header h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: start;
  }
  
  .login-header p {
    font-size: 16px;
    text-align: start;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 350px;
    top: 9px;
  }
  
  
  .account-info {
    text-align: right;
    display: flex;
    flex-direction: column;
    line-height: 10px;
  }
  
  .account-info p {
    font-size: 14px;
  }
  
  .account-info a {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Social login buttons */
  .social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .facebook-btn,
  .google-btn {
    width: 48%;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .facebook-btn {
    background-color: hsl(218, 77%, 26%);
  }
  
  .google-btn {
    background-color: #db4437;
  }
  .icon{
    margin-right: 5px;
  }
  
  /* Form styling */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: start;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  

  
  /* Login button */
  .login-btn {
    padding: 12px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .login-btn:hover {
    background-color: #333;
  }
  
/* Checkbox container */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-container label {
  font-size: 14px;
  cursor: pointer;
}

/* Optionally you can style the checked state */
.checkbox-container input[type="checkbox"]:checked {
  border: 1px solid #000;
}


